
<div class="container">
  <div class="text-center mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
        <li class="breadcrumb-item active" aria-current="page"><button class="btn btn-sm btn-primary" (click)="logout()">logout</button> </li>
      </ol>
    </nav>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
