<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <div *ngIf="loading" class="loginLoading">
                  <h2><i class="fa fa-spinner fa-spin"></i></h2>
                </div>
                <!-- <p>login</p>
                <button (click)="submit()">Login</button> -->

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3 has-validation">
                    <div class="input-group input-group-default">
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-user"></i></span>
                      <input type="text"
                              [ngClass]="form.get('username')?.hasError('required') && form.get('username')?.touched ? 'form-control is-invalid' : 'form-control'"
                              aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-default"
                              id="username"
                              formControlName="username"
                              placeholder="Username...">
                    </div>
                  </div>
                  <div class="fs-6 mb-3" *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">
                    Username is required.
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group input-group-default">
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-lock"></i></span>
                      <input type="password"
                              [ngClass]="form.get('password')?.hasError('required') && form.get('password')?.touched ? 'form-control is-invalid' : 'form-control'"
                              aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-default"
                              id="password"
                              formControlName="password"
                              placeholder="Password...">
                    </div>
                  </div>
                  <div class="fs-6 mb-3" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                    Password is required.
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <button
                        type="submit"
                        class="btn btn-primary px-4 mr-3"
                      >
                        <span><i class="fa fa-paper-plane"></i> Submit</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
