<div class="animated fadeIn">

  <!-- <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        <h5>Dashboard</h5>
        <div class="card-header-actions"></div>
      </div>
      <div class="card-body">
        <button class="btn btn-sm btn-primary" (click)="logout()">logout</button>
      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">Data Employee</h5>
        <div class="d-flex gap-3">
          <div class="input-group input-group-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
            <input type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    (keyup.enter)="handleSearch($event)"
                    [(ngModel)]="filterData.inputSearch"
                    placeholder="Search...">
          </div>
          <button class="btn btn-sm btn-primary" style="width: 10rem;" (click)="actionEmploye('Add')">Add Employee</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Group</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listEmployee; let i = index">
              <th scope="row">{{i + 1 + (filterData.previousPage * 10 * 2) - 20 }}</th>
              <td>{{item.username}}</td>
              <td>{{item.firstName+' '+item.lastName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.status}}</td>
              <td>{{item.group}}</td>
              <td class="d-flex gap-3 justify-content-end">
                <span role="button" title="View" (click)="actionEmploye('View',item)"><i class="fa fa-file-text-o"></i></span>
                <span role="button" title="Edit" (click)="actionEmploye('Edit',item)"><i class="fa fa-pencil"></i></span>
                <span role="button" title="Delete" (click)="actionEmploye('Delete',item)"><i class="fa fa-trash"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li [ngClass]="filterData.currentPage <= 1 ? 'page-item disabled' : 'page-item'"><span role="button" class="page-link" (click)="handlePrevPage()">Previous</span></li>
          <li class="page-item active"><span class="page-link">{{filterData.previousPage}}</span></li>
          <li [ngClass]="filterData.isMaxPage ? 'page-item disabled' : 'page-item'"><span role="button" class="page-link" (click)="handleNextPage()">Next</span></li>
        </ul>
      </nav>
    </div>
  </div>

</div>
