<div class="animated fadeIn">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{titlePage}} Data Employee</h5>
          <div class="d-flex gap-3">
            <button class="btn btn-sm btn-primary" style="width: 10rem;" (click)="handleCancel()">Back</button>
            <button type="submit" class="btn btn-sm btn-primary" style="width: 10rem;" *ngIf="titlePage !== 'View'">Submit</button>
          </div>
        </div>

      </div>
    </div>
    <div class="card mb-3" *ngIf="titlePage === 'Add' || titlePage === 'Edit'">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Firstname</label>
              <input type="text" [ngClass]="form.get('firstName')?.hasError('required') && form.get('firstName')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="firstName" formControlName="firstName" placeholder="Firstname...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('firstName')?.hasError('required') && form.get('firstName')?.touched">
              Firstname is required.
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Lastname</label>
              <input type="text" [ngClass]="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="lastName" formControlName="lastName" placeholder="Lastname...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched">
              Lastname is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Username</label>
              <input type="text" [ngClass]="form.get('username')?.hasError('required') && form.get('username')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="username" formControlName="username" placeholder="Username...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">
              Username is required.
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" [ngClass]="form.get('email')?.hasError('required') && form.get('email')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="email" formControlName="email" placeholder="Email..." (keyup)="isValidEmail($event)">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
              Email is required.
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="inValidateEmail">
              Email is inValid.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Birth Date</label>
              <input type="date" [ngClass]="form.get('birthDate')?.hasError('required') && form.get('birthDate')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="birthDate" formControlName="birthDate" placeholder="Birth Date...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('birthDate')?.hasError('required') && form.get('birthDate')?.touched">
              Birth Date is required.
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Basic Salary</label>
              <input type="number" [ngClass]="form.get('basicSalary')?.hasError('required') && form.get('basicSalary')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="basicSalary" formControlName="basicSalary" placeholder="Basic Salary...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('basicSalary')?.hasError('required') && form.get('basicSalary')?.touched">
              Basic Salary is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Status</label>
              <input type="text" [ngClass]="form.get('status')?.hasError('required') && form.get('status')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="status" formControlName="status" placeholder="Status...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('status')?.hasError('required') && form.get('status')?.touched">
              Status is required.
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Description</label>
              <input type="date" [ngClass]="form.get('description')?.hasError('required') && form.get('description')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="description" formControlName="description" placeholder="Email...">
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">
              Description is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Group</label>
              <!-- <input type="text" [ngClass]="form.get('group')?.hasError('required') && form.get('group')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" id="group" formControlName="group" placeholder="Group..."> -->
              <ng-select [items]="groupOptions"
                [ngClass]="form.get('group')?.hasError('required') && form.get('group')?.touched ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'"
                bindLabel="name"
                bindValue="id"
                formControlName="group">
              </ng-select>
            </div>
            <div class="fs-6 mb-3 text-muted" *ngIf="form.get('group')?.hasError('required') && form.get('group')?.touched">
              Group is required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="card mb-3" *ngIf="titlePage === 'View'">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Firstname</label>
            <div>{{employee.firstName}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Lastname</label>
            <div>{{employee.lastName}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Username</label>
            <div>{{employee.username}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Email</label>
            <div>{{employee.email}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Birth Date</label>
            <div>{{formatDate(employee.birthDate)}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Basic Salary</label>
            <div>{{formatCurrencyStringWithX(employee.basicSalary)}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Status</label>
            <div>{{employee.status}}</div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Group</label>
            <div>{{employee.group}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-semibold">Description</label>
            <div>{{formatDateTime(employee.description)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
