/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.app-body .main {
  height: 100vh;
}

.app-content {
  height: calc(100vh - 100px);
}
